<!DOCTYPE html>
<html style="height:100%">
<head>
  <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>

    <script>
        var app = angular.module('simon',['ngResource']);
        app.controller('simonCtrl',function($scope,$document,$resource)
        {
            $scope.spheroResource = $resource('http://localhost:1234/:color');
            $scope.colors = ['red','green','blue','yellow'];
            $scope.array_size = 1;
            $scope.current_expected_colors = [];
            $scope.current_entered_colors = [];
            $scope.start_text = "NEW GAME";

            $scope.check_entered_colors = function(position) {
                if (angular.equals($scope.current_expected_colors[position], $scope.current_entered_colors[position])) {
                    if ($scope.current_entered_colors.length == $scope.array_size)
                    {
                        $scope.array_size++;
                        $scope.spheroResource.get({color:"good"});
                        console.log('sending winner');
                        // announce winner
                        setTimeout(function(){
                            $scope.current_entered_colors = [];
                            $scope.current_expected_colors.push($scope.colors[Math.floor(Math.random() * (4) + 0)]);

                            angular.forEach($scope.current_expected_colors,function(color,key) {
                                setTimeout(function(){
                                    $scope.spheroResource.get({color:$scope.current_expected_colors[key]});
                                },key*1000)
                            });
                            console.log('sending colors');
                            console.log($scope.current_expected_colors);
                        },2000);
                    }
                }
                else{
                    $scope.spheroResource.get({color:"bad"});
                    //you suck!!!!!
                }
            };

            $scope.clickBlue = function() {
                $scope.current_entered_colors.push('blue');
                $scope.check_entered_colors($scope.current_entered_colors.length - 1);
                $scope.spheroResource.get({color:"blue"});
            };
            $scope.clickRed = function() {
                $scope.current_entered_colors.push('red');
                $scope.check_entered_colors($scope.current_entered_colors.length - 1);
                $scope.spheroResource.get({color:"red"});
            };
            $scope.clickGreen = function() {
                $scope.current_entered_colors.push('green');
                $scope.check_entered_colors($scope.current_entered_colors.length - 1);
                $scope.spheroResource.get({color:"green"});
            };
            $scope.clickYellow = function() {
                $scope.current_entered_colors.push('yellow');
                $scope.check_entered_colors($scope.current_entered_colors.length - 1);
                $scope.spheroResource.get({color:"yellow"});
            };
            $scope.clickStart = function() {
                $scope.array_size = 1;
                $scope.current_expected_colors = [];
                $scope.current_entered_colors = [];
                $scope.current_expected_colors.push($scope.colors[Math.floor(Math.random() * (4) + 0)]);
                $scope.spheroResource.get({color:$scope.current_expected_colors[0]});

                console.log("sending new game colors",$scope.current_expected_colors);
            };

            $document.bind('keydown',function(event){
                switch (event.which)
                {
                    case 102:
                    case 70:
                        $scope.clickStart();
                        break;

                    case 119:
                    case 87:
                        $scope.clickRed();
                        break;

                    case 97:
                    case 65:
                        $scope.clickGreen();
                        break;

                    case 115:
                    case 83:
                        $scope.clickBlue();
                        break;

                    case 100:
                    case 68:
                        $scope.clickYellow();
                        break;
                }
            });
        })
    </script>
</head>
<body ng-app="simon" ng-controller="simonCtrl" style="height:100%;padding:0;margin:0;display:inline-block;width:100%;">

<button style="background-color: blue;width:50%;height: 50%;float:left" ng-click="clickBlue()">&nbsp;</button>
<button style="background-color: red;width:50%;height: 50%;float:left" ng-click="clickRed()">&nbsp;</button>
<button style="background-color: green;width:50%;height: 50%;float:left" ng-click="clickGreen()">&nbsp;</button>
<button style="background-color: yellow;width:50%;height: 50%;float:left" ng-click="clickYellow()">&nbsp;</button>
<button style="background-color: black;color: white;width:100px;height:100px;position:absolute; top:50%; left: 50%;margin-left:-50px;margin-top:-50px;border-radius:50px" ng-click="clickStart()">{{start_text}}</button>

</body>
</html>